<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="VehicleEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=115.159.90.52;initial catalog=Vehicle;user id=sa;password=Elab2015;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>